.value-card {
    width: 200px;
}

.smaller-value-card {
    width: 170px;
    margin:15px;
}

.fixed-size {
    width:150px;
    display:inline-block;
}

.fixed-size-right {
    width:80px;
    text-align: right;
    display:inline-block;
}