.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiBottomNavigation-root {
  background-color: #083045 !important;
  color:white !important;
}
.MuiBottomNavigationAction-root {
  color:#CCDBDC !important;
}
.MuiBottomNavigationAction-root.Mui-selected {
  background-color: #052536;
}

.inputField {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50px;
}

.mbsc-form-group-inset {
  display:inline-block;
  width:80%;
}
.MuiContainer-maxWidthLg {
  height:100%;
}

.parameterHelpText {
  padding-bottom: 5px;
  color: #1F2228;
}

.parameterName {
  color: #1F2228;
}

.mbsc-stepper input {
  width: 6em !important;
  left: 7em !important;
}
.mbsc-segmented-item {
  width: 6em !important;
}

.setParametersButton {
  width:100%;
  color: #1F2228;
}

html, body {
  overflow:hidden;
}