@font-face { font-family: 'Barlow'; 
  font-style: normal; 
  font-weight: 300; font-display: swap; 
  src: url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3p-ks6Vop.ttf) format('truetype');}

body {
  font-family: "Barlow"
}

.bottom {
  position: fixed;
  bottom: 0px;
}
